@import "../variables.scss";

.sub-nav-bar {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.84em;
 
    .catgories-container {
        border: 1px solid $primary-color;  
        border-radius: 5px;
        margin-right: 10px;
        font-size: 1.05em;    
    }

    .nav-link{
        padding: 6px 0px 6px 0px;
        color: rgba(0, 0, 0, 0.87) !important;
        margin-right: 8px;
        margin-left: 8px;
       
    }

    a{
        text-decoration: none;
    }
    
    .pricing {
        border: 1px solid red;  
        border-radius: 5px; 
        color: red !important;
        font-size: 1.05em;
    }
    
   
}
@include media-breakpoint-down(lg) {
    .sub-nav-bar {
        
        #responsive-navbar-nav {
            margin-top: 50px ;
        }
       
    }
 }
