@import "../../../../../../../../Kandy/final-project-Chani93301/src/assets/styles/variables";

.navbar-container {
    padding: 5px 0 5px 0;
    border-bottom: .5px solid $gray_border;
    font-family: 'Montserrat', sans-serif;
    width: 100%;

    .navbar-brand {
        padding: 0;
        font-size: .8em;
        margin:0 12px 0 12px;
        font-weight: 400;
        color: rgba(46, 46, 46, 0.678);
        svg {
            margin: 0 8px 0 12px;
        }

        button {
            margin: 0;
            font-size: 1.05em;
            padding: 1px 0 2px 0;
            color: $primary-color;
            background-color: transparent;
            border: 0;
            height: 22px;
            line-height: 0;
        }

        .register-btn {
            border: 1px solid $primary-color;
            padding: 1px 10px 2px 10px;
        }
    }
    .navbar-nav {
        margin-left: auto;
    }
    
}

@include media-breakpoint-down(lg) {
    .navbar-container {
        
        .navbar-brand {
            padding: 10px 50px 10px 50px;
            margin: auto;
        }
       
    }
 }
